


.form-switch-containertf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-switch-labelt {
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.form-switch-labelt:hover {
  color: #555;
}

.form-switch-input {
  margin-left: 10px;
}

.form-switch-input:checked + .form-switch-labelt {
  color: #2ecc71;
}

.form-switch-input:checked + .form-switch-labelt::before {
  content: "✓";
  margin-right: 5px;
}

.form-buildertf {
  text-align: center;
}

.form-buildertf h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.form-fieldtf {
  margin-bottom: 15px;
}

.form-fieldtf label {
  font-weight: bold;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.form-fieldtf input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  width: 100%;
  max-width: 100%;
}

.form-columnst {
  display: flex;
  gap: 20px;
  align-items: flex-start; 
}

.form-columntf {
  flex: 1;
}

.form-headertf {
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.parameter-fieldtf {
  margin-bottom: 20px;
}

.parameter-title-rowtf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.parameter-title-rowtf label {
  flex: 1;
  font-weight: bold;
  color: #555;
}

.parameter-title-rowtf input {
  flex: 2;
}

.remove-parameter-buttontf {
  background-color: #ff5c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.sub-parameter-fieldtf {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sub-parameter-fieldtf label {
  flex: 1;
  font-weight: bold;
  color: #555;
}

.sub-parameter-fieldtf input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.remove-sub-parameter-button {
  background-color: #ff5c5c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.overall-total-marks-rowtf {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.overall-total-marks-rowtf label {
  font-weight: bold;
  color: #555;
  margin-right: 10px;
}

.overall-total-marks-rowtf input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  width: 100px;
}

.add-parameter-buttontf,
.submit-buttontf {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.add-sub-parameter-buttontf {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.add-parameter-buttontf {
  background-color: #3498db;
  
}

.submit-buttontf {
  background-color: #2ecc71;
  margin-left: 10px; 
}

